* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #fff;
  top: 0;
  z-index: 5;
}

.navbar .navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1600px;
}

.navbar .navbar-container .navbar-logo {
  display: flex;
  justify-self: start;
  margin-left: 20px;
  align-items: center;
}

.navbar .navbar-container .nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

@media screen and (min-width: 756px) {
  .navbar .navbar-container .nav-menu {
    margin-left: 100px;
  }
}

.navbar .navbar-container .nav-menu .nav-item .nav-links {
  color: #203A4C;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  display: flex;
  text-decoration: none;
  padding: 1.7rem 1rem;
  height: 100%;
}

.navbar .navbar-container .nav-menu .nav-item .nav-links:hover {
  color: #5fb4a2;
}

.menu-icon {
  display: none;
  font-size: 2rem;
}

.menu-icon .fa-bars,
.menu-icon .fa-times {
  color: #203A4C;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column !important;
    grid-gap: 5px;
    width: 100%;
    height: 38vh;
    position: absolute;
    top: 80px;
    right: -100%;
    opacity: 1;
    transition: all 0.3s ease-in;
  }
  .nav-menu .navbar-logo {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    transform: translate(25%, 50%) !important;
  }
  .nav-menu.active {
    justify-content: start !important;
    background-color: #203A4C;
    right: 0;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 5;
  }
  .nav-menu.active .nav-item .nav-links {
    justify-content: center !important;
    margin: 5px 0 auto;
    padding: 2rem !important;
    color: white !important;
    width: 100%;
    display: table;
  }
  .nav-menu.active .nav-item .nav-links:hover {
    color: #203A4C !important;
    background-color: white;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    transform: translate(-100%, 60%);
    cursor: pointer;
  }
  .menu-icon .fa-times {
    font-size: 2rem;
  }
}

.hero-section-row {
  padding: 5% 7%;
}

@media screen and (max-width: 375px) {
  .hero-section-row {
    display: flex;
    flex-flow: column-reverse !important;
  }
}

.hero-section-row .text-col {
  padding: 3% 7%;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #fff;
}

@media screen and (min-width: 960px) {
  .hero-section-row .text-col {
    position: absolute;
    left: 0;
    top: 35vw;
    height: 26vw;
    padding-right: 12%;
  }
}

.hero-section-row .text-col h1 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-section-row .img-col .hero-section-img {
  width: 100%;
}

@media screen and (min-width: 960px) {
  .hero-section-row .img-col .hero-section-img {
    width: 200% !important;
  }
}

.about-me-row {
  padding: 3% 7%;
}

.about-me-row .img-col .aboutme-img {
  margin-right: 5%;
  width: 100%;
}

@media screen and (min-width: 756px) {
  .about-me-row .img-col .aboutme-img {
    width: 90%;
  }
}

.about-me-row .text-col {
  text-align: left;
}

@media screen and (min-width: 756px) {
  .about-me-row .text-col {
    padding: 1% 20% 1% 3%;
  }
}

.about-me-row .text-col h3 {
  margin: 20px auto;
  font-family: "Ibarra Real Nova", serif;
  font-size: 40px;
}

.about-me-row .text-col p {
  margin-bottom: 10px;
  font-family: "Public Sans", sans-serif;
  font-size: 20px;
}

.about-me-row .text-col Button {
  margin-top: 20px;
  font-size: 20px;
}

@media screen and (max-width: 756px) {
  .about-me-row .text-col Button {
    width: 100%;
  }
}

.languages-cont {
  background-color: #33607f;
  padding: 5% 7%;
}

.languages-cont h3 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 40px;
  font-weight: 600;
  color: #5fb4a2;
  margin-bottom: 20px;
  text-align: center;
}

.languages-cont .icons-row {
  margin-bottom: 20px;
  padding: 3% 0;
  text-align: center;
  color: #c4ffef;
}

.languages-cont .icons-row .react:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s ease-out;
  color: #64D4F3;
}

.languages-cont .icons-row .angular:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s ease-out;
  color: #C3002F;
}

.languages-cont .icons-row .vue:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s ease-out;
  color: #4DBA87;
}

.languages-cont .icons-row .javascript:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s ease-out;
  color: #FCE41F;
}

.languages-cont .icons-row .css:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s ease-out;
  color: #2173F7;
}

.languages-cont .icons-row .html:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s ease-out;
  color: #F74E0D;
}

.languages-cont .icons-row .sass:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s ease-out;
  color: #C76494;
}

.languages-cont .icons-row .boots:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s ease-out;
  color: #7A10F2;
}

.languages-cont .icons-row .npm:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s ease-out;
  color: #C13535;
}

.languages-cont .icons-row .git:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s ease-out;
  color: #302F2F;
}

.frameworks-cont {
  padding: 5% 7%;
  text-decoration: none !important;
}

.frameworks-cont h3 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #33323D;
  text-align: center;
  margin-bottom: 30px;
}

.frameworks-cont h3 .react {
  color: #64D4F3;
}

.frameworks-cont h3 .angular {
  color: #C3002F;
}

.frameworks-cont h3 .vue {
  color: #4DBA87;
}

.frameworks-cont p {
  color: #33323D;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Public Sans", sans-serif;
  font-size: 20px;
}

.frameworks-cont .link {
  text-decoration: none;
}

.frameworks-cont .link .react-cont {
  padding: 5%;
  border-radius: 20px;
  border: 1px solid #64D4F3;
  margin-bottom: 20px;
}

.frameworks-cont .link .react-cont h3 {
  padding-bottom: 30px;
}

.frameworks-cont .link .react-cont h3 .react {
  position: relative;
  top: 15px;
  left: 15px;
  color: #64D4F3;
}

.frameworks-cont .link .react-cont p {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Public Sans", sans-serif;
  font-size: 20px;
}

.frameworks-cont .link .react-cont p .font-awe {
  color: #339AF0;
}

.frameworks-cont .link .react-cont p .sass {
  color: #C76494;
}

.frameworks-cont .link .react-cont:hover {
  transition: all 0.5s ease-in-out;
  background-color: #64D4F3;
}

.frameworks-cont .link .react-cont:hover h3 {
  color: #fafafa;
}

.frameworks-cont .link .react-cont:hover h3 .react {
  color: #fafafa;
}

.frameworks-cont .link .react-cont:hover p {
  color: #fafafa;
}

.frameworks-cont .link .react-cont:hover p .font-awe {
  color: #fafafa;
}

.frameworks-cont .link .react-cont:hover p .sass {
  color: #fafafa;
}

.frameworks-cont .link .angular-cont {
  padding: 5% 7%;
  border-radius: 20px;
  border: 1px solid #C3002F;
  margin-bottom: 20px;
}

.frameworks-cont .link .angular-cont h3 {
  padding-bottom: 30px;
}

.frameworks-cont .link .angular-cont h3 .angular {
  position: relative;
  top: 15px;
  left: 15px;
  color: #C3002F;
}

.frameworks-cont .link .angular-cont p {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Public Sans", sans-serif;
  font-size: 20px;
}

.frameworks-cont .link .angular-cont p .font-awe {
  color: #339AF0;
}

.frameworks-cont .link .angular-cont p .sass {
  color: #C76494;
}

.frameworks-cont .link .angular-cont:hover {
  transition: all 0.5s ease-in-out;
  background-color: #C3002F;
}

.frameworks-cont .link .angular-cont:hover h3 {
  color: #fafafa;
}

.frameworks-cont .link .angular-cont:hover h3 .angular {
  color: #fafafa;
}

.frameworks-cont .link .angular-cont:hover p {
  color: #fafafa;
}

.frameworks-cont .link .angular-cont:hover p .font-awe {
  color: #fafafa;
}

.frameworks-cont .link .angular-cont:hover p .sass {
  color: #fafafa;
}

.frameworks-cont .link .vue-cont {
  padding: 5% 7%;
  border-radius: 20px;
  border: 1px solid #4DBA87;
}

.frameworks-cont .link .vue-cont h3 {
  padding-bottom: 30px;
}

.frameworks-cont .link .vue-cont h3 .vue {
  position: relative;
  top: 15px;
  left: 15px;
  color: #4DBA87;
}

.frameworks-cont .link .vue-cont p {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Public Sans", sans-serif;
  font-size: 20px;
}

.frameworks-cont .link .vue-cont p .boots {
  color: #7A10F2;
}

.frameworks-cont .link .vue-cont p .font-awe {
  color: #339AF0;
}

.frameworks-cont .link .vue-cont p .css {
  color: #2173F7;
}

.frameworks-cont .link .vue-cont:hover {
  transition: all 0.5s ease-in-out;
  background-color: #4DBA87;
}

.frameworks-cont .link .vue-cont:hover h3 {
  color: #fafafa;
}

.frameworks-cont .link .vue-cont:hover h3 .vue {
  color: #fafafa;
}

.frameworks-cont .link .vue-cont:hover p {
  color: #fafafa;
}

.frameworks-cont .link .vue-cont:hover p .font-awe {
  color: #fafafa;
}

.frameworks-cont .link .vue-cont:hover p .css {
  color: #fafafa;
}

.frameworks-cont .link .vue-cont:hover p .boots {
  color: #fafafa;
}

.project-row {
  padding: 5% 7%;
  height: fit-content;
}

.project-row .text-col {
  padding: 10% 7%;
}

.project-row .text-col h3 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 40px;
  font-weight: 600;
  color: #33323D;
  margin-bottom: 10px;
}

.project-row .text-col p {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #33323D;
  margin-bottom: 10px;
}

.project-row .text-col Button {
  width: 250px;
  font-family: "Public Sans", sans-serif;
  margin: 30px auto;
  font-size: 20px;
}

@media screen and (max-width: 756px) {
  .project-row .text-col Button {
    width: 100%;
  }
}

.project-row .img-col .project-img {
  width: 100%;
}

.centered .img-col {
  padding-top: 9%;
}

@media screen and (min-width: 756px) {
  .reverse {
    flex-flow: row-reverse;
  }
}

.full-project-cont {
  padding: 5% 7% 2%;
}

.full-project-cont .project-top {
  align-self: center;
  width: 100%;
}

.full-project-cont .description-row .left-text {
  padding-right: 20%;
}

.full-project-cont .description-row .left-text hr {
  justify-self: left;
  margin: 30px 0;
  width: 60%;
}

.full-project-cont .description-row .left-text h2 {
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  font-size: 40px;
}

.full-project-cont .description-row .left-text p {
  margin: 10px auto;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.full-project-cont .description-row .left-text h5 {
  margin: 10px auto;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #5fb4a2;
}

.full-project-cont .description-row .left-text a {
  text-decoration: none;
  color: #33323D;
}

.full-project-cont .description-row .left-text a button {
  cursor: pointer;
  margin-top: 20px;
  padding: 3% 5%;
  background-color: transparent;
  color: #33323D;
  border: 1px solid #33323D;
  transition: all 0.3s ease-out;
}

.full-project-cont .description-row .left-text a button:hover {
  transition: all 0.3s ease-out;
  color: #fafafa;
  background-color: #33323D;
  transition: 250ms;
}

@media screen and (max-width: 756px) {
  .full-project-cont .description-row .left-text a button {
    width: 50%;
  }
}

.full-project-cont .description-row .left-text i {
  position: relative;
  top: 12px;
  left: 15px;
}

.full-project-cont .description-row .left-text i.react {
  color: #64D4F3;
}

.full-project-cont .description-row .left-text i.vue {
  color: #4DBA87;
}

.full-project-cont .description-row .left-text i.angular {
  color: #C3002F;
}

.full-project-cont .description-row .left-text i.javas {
  color: #FCE41F;
}

.full-project-cont .description-row .right-text {
  margin-top: 4%;
}

.full-project-cont .description-row .right-text .text-cont {
  padding-right: 20%;
}

.full-project-cont .description-row .right-text .text-cont h3 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 35px;
  font-weight: 600;
}

.full-project-cont .description-row .right-text .text-cont p {
  margin: 10px auto;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.full-project-cont .description-row .right-text img {
  width: 100%;
  margin: 15px auto;
}

.full-project-cont .next-prev-proj {
  padding-top: 30px;
}

.full-project-cont .next-prev-proj h5 {
  font-size: 14px;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
}

.full-project-cont .next-prev-proj h3 {
  margin-top: 5px;
  font-size: 20px;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
}

.full-project-cont .next-prev-proj .previous-text {
  text-align: start;
  padding-top: 20px;
}

.full-project-cont .next-prev-proj .next-text {
  text-align: end;
  padding-top: 20px;
}

.full-project-cont .next-prev-proj Button {
  width: 50px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.full-project-cont .next-prev-proj Button:hover {
  background-color: #5fb4a2;
  color: #33323D;
  border: 1px solid #33323D;
  transition: all 0.3s ease-out;
}

.cta-cont {
  padding: 3% 7% 5%;
  align-items: center;
}

.cta-cont .text-col h2 {
  font-size: 45px;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 600;
}

.cta-cont .btn-col {
  text-align: end;
}

.cta-cont .btn-col Button {
  margin-top: 20px;
  font-size: 18px;
}

@media screen and (max-width: 756px) {
  .cta-cont .btn-col Button {
    width: 100%;
  }
}

@media screen and (max-width: 756px) {
  .cta-cont {
    text-align: center;
    align-items: center;
  }
  .cta-cont .btn-col .cta-btn {
    margin: 1% 25% !important;
  }
}

.footer-cont {
  background-color: #203A4C;
  z-index: 2;
  padding: 5% 7%;
  align-items: center;
}

.footer-cont .footer-item {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .footer-cont .footer-item {
    margin: 10px auto;
  }
}

.footer-cont .footer-item .footer-link {
  text-decoration: none;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #fafafa;
}

.footer-cont .footer-item .footer-link:hover {
  color: #5fb4a2;
}

.footer-cont .footer-item .social-row {
  justify-content: center;
  margin-top: 2%;
}

.footer-cont .footer-item .social-row .social-icon {
  margin: auto 10px;
}

@media screen and (max-width: 375px) {
  .footer-cont {
    text-align: center;
  }
}

.contact-me-cont {
  padding: 3% 7%;
}

.contact-me-cont hr {
  margin: 30px 6% 30px 0;
  width: 100%;
  color: #fafafa;
}

.contact-me-cont .contact-top .title-col {
  align-items: center;
}

.contact-me-cont .contact-top .title-col h3 {
  font-family: "Public Sans", sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.contact-me-cont .contact-top .right-col {
  padding: 0 0 0 3%;
}

.contact-me-cont .contact-top .right-col p {
  margin: 10px auto;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding-right: 15%;
}

.contact-me-cont .contact-top .right-col .contact-me-cont {
  color: #fafafa;
  margin-top: 50px;
  margin-left: 0;
  padding-left: 0 !important;
}

.contact-me-cont .contact-top .right-col .contact-me-cont .footer-link {
  text-decoration: none !important;
  color: #33323D;
}

.contact-me-cont .contact-top .right-col .contact-me-cont .footer-link:hover {
  color: #5fb4a2;
}

.contact-me-cont .contact-top .right-col .contact-me-cont .footer-link .social-icon {
  margin: auto 5px;
}

.contact-me-cont .input-cont h2 {
  font-size: 45px;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
}
